/* general  */

body {
	background-color: #171717;
	color: white;
}

html,
body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	font-size: 1rem;
	overflow-x: hidden;
	line-height: 1.5;
	scroll-behavior: smooth;
}

div {
	display: block;
	padding: 0;
	margin: 0;
	line-height: 30px;
}

/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #ff5420;
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: red;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

*,
::after,
::before {
	box-sizing: border-box;
}

/* ---------- HEADER ---------- */

.header {
	background: #131313;
	padding-top: 1vh;
	padding-bottom: 1vh;
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 10000000;
	border-bottom: 1px solid #ff5420;
	background: linear-gradient(215deg, gray, black);
}

.container-header {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

.logo {
	background: url('../../media/conquer2logo.png');
	background-size: cover;
	float: left;
	padding: 5px;
	width: 10%;
	height: 5vh;
}

.user-panel {
	float: right;
	font-weight: 500;
	background: #ff5420;
	border-radius: 30px;
	padding: 0.5% 1%;
	margin-right: auto;
}

.user-panel a {
	background-color: transparent;
	font-size: 14px;
	color: 'white';
}

.v-header {
	height: 70vh;
	display: flex;
	align-items: center;
	color: #fff;
}

.container {
	max-width: 960px;
	padding-right: 1rem;
	padding-left: 1rem;
	margin: auto;
	text-align: center;
}

.fullscreen-video-wrap {
	position: absolute;
	left: 0;
	width: 100%;
	height: 70vh;
	overflow: hidden;
}

.fullscreen-video-wrap video {
	min-width: 100%;
	min-height: 100%;
}

.header-overlay {
	height: 70vh;
	width: 100%;
	left: 0;
	position: absolute;
	background: black;
	color: white;
	opacity: 0.7;
	z-index: 30;
}

.header-overlay-wrapper {
	margin-top: 10%;
}

.overlay-text {
	grid-template-columns: repeat(2, auto);
	display: grid;
}

.overlay-title {
	text-transform: uppercase;
	padding: 20px;
	color: white;
	text-align: left;
}

.overlay-title > h2 {
	text-shadow: 4px 4px #ff5420;
	font-size: 64px;
}

.overlay-title > h3 {
	text-shadow: 0 0 10px #fff;
	font-size: 48px;
}

/* BODY */

/* ------------- SLIDER STUFF WITH LATEST NEWS AND TESTIMONIALS -------------- */
.jumbo-bar {
	height: 5vh;
	overflow: hidden;
	display: grid;
	grid-template-columns: 30% 70%;
	text-align: center;
	justify-content: center;
}

.bottom-jumbo-bar-left {
	background-color: #ff5420;
	border-radius: 0px 10px 10px 0px;
	text-transform: uppercase;
}
.bottom-jumbo-bar-right {
	background-color: transparent;
}

/* Text Scroll Effect */

.marquee {
	right: 1%;
	left: 1%;
	position: relative;
	overflow: hidden;
	z-index: 100;
}

.marqueeContent {
	color: white;
	display: inline-block;
	animation: Scroll 60s forwards linear infinite;
}

.marqueeContent > h2 {
	font-size: 1em;
	white-space: nowrap;
	font-family: 'Roboto';
	font-weight: bold;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

@keyframes Scroll {
	0% {
		transform: translate(10%, 0);
	}
	100% {
		transform: translate(-100%, 0);
	}
}

/* ------------- MEDIA AND NEWS --------------- */

.media {
	/* height: 80vh; */
	display: grid;
	grid-template-columns: 20% 46% 34%;
	margin-top: 1%;
}

.media img {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.media-overlay {
	background: linear-gradient(180deg, transparent, black);
}

.media-col {
	display: grid;
	grid-template-rows: 60% 40%;
}

/* .media-col-1-row-1 {
	background-image: url('../../media/DominoMemes/meme1.jpeg');
} */

.media-col-2-row-1 {
	background: url('../../media/conquer2.jpg');
	/* background-size: cover; */
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	margin: 20px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.media-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 20px 10px;
	background: inherit;
	background-attachment: fixed;
}

.media-overlay::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: inherit;
	background-attachment: fixed;
	-webkit-filter: blur(12px);
	filter: blur(12px);
	transform: scale(2) translateY(20px);
}

.media-overlay > h2 {
	margin: 0;
	color: white;
	position: relative;
	z-index: 1;
	text-shadow: 0 0 10px #fff;
}

.media-col:hover {
	opacity: 1;
}

@media only screen and (max-width: 360px) {
	.media-col {
		min-width: 100%;
		display: flex;
	}
}

.inner-img {
	transition: 0.3s;
}

.inner-img:hover {
	transform: scale(1.1);
}

.media iframe {
	width: 100%;
	height: 100%;
	border-width: 0px;
}

.media-col-3 {
	text-transform: uppercase;
	overflow: hidden;
	padding-right: 1%;
	margin-top: 2%;
}

.media-col-2-row-2 > iframe {
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	margin: 20px;
	width: 100%;
	padding: 20px 10px;
}

.media-col-2-row-2 {
	background-attachment: fixed;
	position: relative;
	width: 100%;
	padding: 5px 20px;
}

/* RATING */

.rating {
	text-align: center;
}

.meme-wrapper {
	max-width: 100%;
	max-height: 80%;
}

.meme-wrapper > img {
	border-radius: 10px;
}

.media-col-1-row-1 {
	grid-template-columns: 20% 80%;
	display: grid;
}

.domino-title {
	writing-mode: vertical-rl;
	text-orientation: upright;
}

.meme-rating {
	padding: 10px;
	text-align: center;
	margin-bottom: 10px;
}

/* --------- RSS FEED ---------- */

.rss-wrapper {
	text-align: left;
	width: 100%;
	height: 75vh;
}

/* ----X---- RSS FEED -----X---- */

/* --------- STAY UPDATED --------- */

.hero {
	background: url('https://images.unsplash.com/photo-1518176258769-f227c798150e') center;
	background-size: cover;
	padding: 4rem 2rem;
	border-top: 1px solid #ff5420;
	border-bottom: 1px solid #ff5420;
	display: grid;
	align-items: center;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	z-index: 100;
}

/* NEW FEATURES */

.bnf-boxes {
	margin: 20px;
	margin-top: 150px;
	background-color: whitesmoke;
	overflow: hidden;
	height: 200px;
	max-height: 35vh;
	box-shadow: 0px 12px 18px -6px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
}

/* ----------- NEXT RELEASE / COMPATIBILITY ------------ */

.next-update > img {
	width: 90vw;
	border-radius: 10px;
	justify-content: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	justify-self: center;
}

.new-features {
	grid-template-columns: 75% 25%;
	display: grid;
	height: 80vh;
}

.compatible-all-devices {
	background: url('../../media/AllDevices.png');
	border-radius: 10px;
	background-size: cover;
	object-fit: cover;
	width: 100%;
	height: auto;
}

.compatible-side-text {
	background: url('../../media/CompatibleBrowsers.jpg');
	background-size: cover;
	object-fit: cover;
	width: 100%;
	height: auto;
}

/* ------------- FOOTER ------------ */

footer {
	border-top: 1px solid #ff5420;
	height: 5vh;
	background: linear-gradient(215deg, gray, black);
	margin-top: 5vh;
	height: 10vh;
}

.credits {
	text-align: center;
	margin-top: 3vh;
	font-size: 15px;
}

footer > ul {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(2, auto);
	list-style-type: none;
}
