
:root {
	--brand: #ff4520;
	--white: #fff;
	--dark: #242424;
}

.ads {
	background: var(--dark);
	color: var(--white);
}

.ads-title {
	text-align: center;
	padding: 2rem;
	color: var(--white);
}

.ads-title > h1 {
	font-size: 60px;
}

.ads-wrapper {
	display: grid;
	grid-template-columns: repeat(4, minmax(200px, auto));
	padding: 2rem;
	text-align: center;
	padding-bottom: 3rem;
}

@media screen and (max-width: 840px) {
	.ads-wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
		grid-template-columns: 100%;
		grid-template-rows: repeat(4, minmax(150px, auto));
	}
}

.icon-browser {
	color: var(--white);
	font-size: 50px;
	text-shadow: 1px 1px #ff4520;
}
/* 
.icon-browser:hover {
	color: var(--brand);
	transform: scale(1.1);
	  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
} */