.main-game-sidebar {
    background: linear-gradient(215deg, #242424, black);
    opacity: 0.9;
    text-align: center;
    bottom: 0;
    right: 0;
    padding: 5rem;
    width: 25vw;
    height: 100vh;
    position: fixed;
    margin: 0 auto;
    overflow-y: scroll;
}


@media screen and (max-width: 960px) {
    .main-game-sidebar {
        width: 35vw;
    }
}

/* marginLeft: '70%',
		marginTop: '10%',
		background: fade('#000000', 0.8),
		color: 'white',
		padding: theme.spacing(2),
		position: 'fixed',
		width: '30%',
		height: '80%',
		borderRadius: '5%',
		boxShadow: '0px 10px 50px #555' */